<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,?" maxUrlLength="2048"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="MyJavaServicePortBinding">
          <!--The wsdl schema that was used to create this configuration file contained a 'RequireIssuerSerialReference' assertion for a X509Token.  This can not be represented in configuration, you will need to programatically adjust the appropriate X509SecurityTokenParameters.X509KeyIdentifierClauseType to X509KeyIdentifierClauseType.IssuerSerial.  The default of X509KeyIdentifierClauseType.Thumbprint will be used, which may cause interop issues.-->
          <security defaultAlgorithmSuite="Basic128" authenticationMode="UserNameForCertificate"
            requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="true"
            messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10"
            requireSignatureConfirmation="false">
            <localClientSettings detectReplays="true" />
            <localServiceSettings detectReplays="true" />
          </security>
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://vsrs11.rs.local:80/Windchill/servlet/MyJavaService"
        binding="customBinding" bindingConfiguration="MyJavaServicePortBinding"
        contract="ExampleService.MyJavaService" name="MyJavaServicePort" />
    </client>
    <services>
      <service name="WcfWCService.Service1">
        <!-- Use a bindingNamespace to eliminate tempuri.org -->
        <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://regain.com/rest" contract="WcfWCService.IService1"/>
        <endpoint address="rest" binding="webHttpBinding" 
                  bindingNamespace="http://regain.com/rest" 
                  contract="WcfWCService.IService1"
                  behaviorConfiguration="webBehavior"/>
        <endpoint name="MetadataHttp"
                                address="contract"
                                binding="mexHttpBinding"
                                contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        
      </serviceBehaviors>
    
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>